*{
  box-sizing: border-box;
}
body{
  background: url('./media/triangular.png');
}
.content{
  position: relative;
  /*height: 100vh;*/

  width: 63vw;
  height: 100vh;
  margin-left: 15vw;

  border: 6px solid lightgrey;
  background-image: url('media/t1.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.dealer-layer {
  position: relative;
  /*border: 2px solid black;*/

  float: left;
  clear: both;

  width: 60%;
  height: 30%;

  letter-spacing: 1.5px;

  color: white;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;

  font-family: 'Titillium Web', sans-serif;
  /*margin-top: 6%;*/
  /*margin-left: 17%;*/
  font-weight: bolder;
}


.buttons {
  float: right;
  /*border: 2px solid red;*/

  width: 40%;
}

.hand {
  position: relative;

  width: 100%;
  height: 5vw;

  background-color: rgba(255,255,255,0.2);
}
.arena{
  float: left;
  clear: both;

  width: 100%;
  margin-top: 2%;

}
.vs{
  width: 10%;
  margin-left: 5%;
}
.rHP{
  float: left;

  width:40%;
  height: 100%;

  color: white;
  border: 2px solid grey;
  background-color: red;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}
.gHP{
  float: right;

  width:40%;
  height: 100%;

  text-align: right;

  color: white;
  border: 2px solid grey;
  background-color: red;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

#energy{
  margin-top: 2vh;

  color: white;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;

  font-size: 1em;
}
#table{
  /*text-align: center;*/
}
#messages{
  clear: both;
  /*height: 50px;*/

  width: 100%;
  padding-top: none;

  text-align: center;
  /*margin-left: 23vw;*/

  color: white;
  /*margin-top: 5%;*/
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
  /*border: 2px solid red;*/

  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;

}
#dealer-hand{
  margin-bottom: 5%;
}
.card{
  height:100%;
}
.button{
  float: right;

  width:28%;
  margin-top: 1vw;
  margin-right: 1vw;

  opacity: .75;
  border-radius: 40px;
  background-color: rgba(255,255,255);
}
.fighters{
  width: 25%;
  margin-top: 15vh;
}

#godzilla{
  float: right;
}


#robot{
  float: left;
}

#robotRange{
  float: left;
  clear: both;

  height: 100%;
  padding-top: 10vh;

  border: 2px solid red;
}
#laser{
  float: left;

  width: 10vw;
  margin-top: 12vh;
}
#fireBall{
  position: absolute;
  right: 10vw;
  top: 29vw;

  width: 7vw;
  margin-top: 14vh;
}
#deal-button{

}
#hit-button{

}
#stand-button{

}
#reset-button{
clear: right;
}
#attack-button{

}
#guard-button{

}
