*{
  box-sizing: border-box;
}
body{
  background: url('./media/triangular.png');
}
.content{
  position: relative;
  /*height: 100vh;*/

  width: 63vw;
  height: 100vw;
  margin-left: 16vw;
  background-image: url('media/t1.gif');
  background-repeat: no-repeat;
  background-size: contain;
}
.dealer-layer {
  position: relative;
  float: left;
  clear: both;
  width: 60%;
  height: 15vw;
  letter-spacing: 1.5px;

  color: white;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
  font-size: 1vw;
  font-family: 'Titillium Web', sans-serif;
}


.buttons {
  float: right;
  width: 40%;
    height: 15vw;
}

.hand {
  position: relative;
  width: 100%;
  height: 25%;
  background-color: rgba(255,255,255,0.2);
}
.arena{
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;;
}
.vs{
  width: 10%;
  margin-left: 5%;
}
.rHP{
  float: left;
  width:40%;
  height: 100%;
  color: white;
  background-color: red;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}
.gHP{
  float: right;

  width:40%;
  height: 100%;

  text-align: right;

  color: white;
  border: 2px solid grey;
  background-color: red;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
}

#energy{
  margin-top: 2vh;

  color: white;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;

  font-size: 1em;
}
#table{
  /*text-align: center;*/
}
#messages{

  width: 100%;
  padding-top: none;

  text-align: center;

  color: white;

  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2vw;

}
#dealer-hand{
  margin-bottom: 5%;
}
.card{
  height:100%;
}
.button{
  float: right;

  width:28%;
  margin-top: 1vw;
  margin-right: 1vw;

  opacity: .75;
  border-radius: 40px;
  background-color: rgba(255,255,255);
}
.fighters{
  width: 25%;
  margin-top: 15px;;
}

#godzilla{
  float: right;
}

#robot{
  margin-top:60px;
  float: left;
}

#laser{
  float: left;
  width: 10vw;
  margin-top: 80px;
}
#fireBall{
  float:right;
  right: 10vw;
  width: 7vw;
  margin-top: 15px;
}

#reset-button{
clear: right;
}
